html
  head
    title= title
    style
      include ../src/style.css
    link(rel='stylesheet' href='https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css')
  body
    nav(class='navbar navbar-expand-md navbar-dark bg-dark')
      a(class='navbar-brand' href='http://localhost:5000') Camwerkz
      div(class='collapse navbar-collapse' id='navbarsExampleDefault')
        ul(class='navbar-nav mr-auto')
          li(class='nav-item')
            a(class='nav-link' href='http://localhost:5000/pending-invoices') Pending Invoices to QB
          li(class='nav-item')
            a(class='nav-link' href='http://localhost:5000/pending-customers') Pending Customers to QB
          li(class='nav-item')
            a(class='nav-link' href='http://localhost:5000/customers') Customers
    main(role='main' class='container mt-3')
      div(class='starter-template')
        h1 Camwerkz
        ul
          li Sync invoices to QB
          li Sync customers to QB
          li List all customers
    script
      include ../src/jquery.js
      include ../src/popper.js
      include ../src/bootstrap.js